PORT=3001
BACKEND_URL=http://localhost:3001
FRONTEND_URL=http://localhost:3000
SESSION_SECRET=change-me

GOOGLE_CLIENT_ID=1092741938974-66m84boijinmnkg85cfl049orpdfc7u7.apps.googleusercontent.com
GOOGLE_CLIENT_SECRET=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
GOOGLE_CALLBACK_URL=http://localhost:3001/api/auth/google/callback

REACT_APP_API_BASE_URL=http://localhost:3001
